/* Variables */
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-darkgrey: #333333;
    --basic-grey: #666666;
    --basic-lightgrey: #EEEEEE;
    --basic-filling: #f2f2f2;
    --basic-blue: #81B3D2;
    --basic-mid-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-brown: #766357;
    --basic-mid-brown: #604E43;
    --basic-dark-brown: #503E33; 
    --checkbox: #6a6a6a;
    --footer-back: rgba(255, 255, 255, 0.9);
    --button-active: rgba(255, 255, 255, 0.3);
    --icons-active: #a9a9a9;
    --input-hover: #ebebeb;
    --input-border: #e5e5e5e5;
    --toggle: #ababab;
    --arrows: #cacaca;
}

/*Global*/
body {
    margin: 0px;
    padding: 0px;
    font-family:'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-darkgrey);
    background-color: var(--basic-filling);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.btn {
    display:inline-block; 
    padding: 3px 16px;
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}
.page {
    height:100%;
}
.page-body {
    position: relative;
    min-height: 100%;
    width:1200px;
    display: grid;
    margin: 0 auto;
    grid-template-rows: min-content 1fr min-content;
}
.body-wrapper {
    position: absolute;
    background-color: var(--basic-white);
    width: 1200px;
    min-height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Main header*/
.main-header {
    position: relative;
}
.main-header-logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    width: 138px;
    height: 70px;
}

/*Main navigation*/
.main-navigation {
    color: var(--basic-black);  
}
.site-navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 15px 73px;
    list-style: none;
}
.site-navigation a {
    color: var(--basic-black);
    font-weight: 700;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-blue);
}
.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.site-navigation li {
    width: 25%;
}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    text-align: left;   
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}

/*Main footer*/
.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 35px 100px;
    color: var(--basic-black);
    background-color: var(--footer-back);
    margin: 0px;
}
.footer-contacts {
    margin: 0px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.footer-contacts p {
    margin: 0px;
}
.footer-contacts a {
    color: var(--basic-black);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--basic-blue);
}
.footer-social {
    justify-self: center;
    text-align: center;
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style:none;
}
.footer-copyright {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    justify-self: end;
}
.footer-copyright p{
    margin-right: 8px;
}
.copyright-button:hover path,
.copyright-button:focus path {
    fill: var(--basic-blue);
}
.copyright-button:active path {
    fill: var(--icons-active);
}
/*Social button*/
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color:var(--basic-blue);
    margin-right: 6px;
}
.social-button:hover,
.social-button:focus {
    background-color: var(--basic-mid-blue);
}
.social-button:active {
    background-color: var(--basic-dark-blue);
}
.social-button:active path {
    fill: var(--button-active);
}
/*Index features*/
.main-back {
    min-height: 510px;
    background-image: url('../img/main-background-image.jpg');
}
.features-promo {
    text-align: center;
    margin: 0px;
    padding: 0 340px;
    padding-top: 42px;
    padding-bottom: 51px;
}
.features-promo h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}
.features-main h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}
.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: var(--basic-darkgrey);
    text-align: center;
}
.features-item {
    margin: 0px;
    padding: 0px;
}
.features-item h3 {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0 120px;
}
.grey {
    background-color: var(--basic-lightgrey);
    padding-top: 47px;
    padding-bottom: 54px;
}
.grey p {
    padding: 0 96px;
}
.with-icons {
    position: relative;
    padding-top: 160px;
    padding-bottom: 82px;
}
.with-icons p { 
    padding: 0 73px;    
}
.accomodation::before {
    position: absolute;
    top:60px;
    left: 50%;
    margin-left: -37.5px;
    display: block;
    content: "";
    width: 72px;
    height: 75px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
}
.food::before {
    position: absolute;
    top:61px;
    left: 50%;
    margin-left: -37.5px;
    display: block;
    content: "";
    width: 75px;
    height: 70px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
}
.souveniers::before {
    position: absolute;
    top:55px;
    left: 50%;
    margin-left: -32px;
    display: block;
    content: "";
    width: 64px;
    height: 77px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
}
.features-blue-row {
    display: flex;
    justify-content: start;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.features-image-right {
    background-image: url('../img/sedona-city.jpg');
    min-width: 800px;
}
.features-image-left {
    background-image: url('../img/devils-bridge.jpg');
    min-width: 800px;
}
.features-text {
    width: 400px;
    padding-top: 52px;
    padding-bottom: 52px;
}
.features-text h3 {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0 100px;
}
.features-text p {
    margin-top: 23px;
    margin-bottom: 0;
    padding: 0 50px;
}

/*Search*/
.main-map {
    min-height: 593px;
    background-image: url('../img/map.png');
}
.interested {
    text-align: center;
    padding-top: 60px;
}
.interested h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 39px;
}
.interested p {
    margin-bottom: 45px;
    padding: 0 380px;
}
.search-form {
    position: relative;
    padding: 0 316px;
}
.search-form .search-1 {
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-brown);
    padding: 30px 110px;
    width: 100%;
}
.search-form .search-1:hover,
.search-form .search-1:focus {
    background-color: var(--basic-mid-brown);
}
.search-form .search-1:active {
    background-color: var(--basic-dark-brown);
    color:var(--button-active);
}
.search-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    left: 315px;
    right: 316px;
    margin: 0;
    padding: 60px 55px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.search-item {
    position: relative;
    width: auto;
    padding: 6px 0;
}
.search-item:nth-child(1),
.search-item:nth-child(2) {
    width: 100%;
}
.search-item:nth-child(3),
.search-item:nth-child(4) {
    width: 50%;
}
.search-item input {
    position: relative;
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-filling);
    border: none;
    box-sizing: border-box;
    padding: 6px 10px;
}
.search-item input:hover {
    background-color: var(--input-hover);
}
.search-item input:active {
    background-color: var(--basic-white);
    border: 2px solid var(--input-border);
}
.date input {
    position: absolute;
    width: 345px;
    top: 0px;
    right: 0px;
}
.calendar {
    position: absolute;
    top: 6px;
    right: 9px;
    padding: 0;
    background-color: transparent;
    fill: var(--icons-active);
}
.calendar:hover,
.calendar:focus {
    fill: var(--basic-black);
}
.calendar:active {
    fill: var(--basic-blue);
}
.people {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.input-form {
    position: absolute;
    top: 0px;
    right: 0px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 114px;
    height: 38px;
}
.input-form input {
    width: 38px;
    text-align: center;
}
.minus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    background-color: var(--basic-filling);
    border: none;
}
.minus:hover rect,
.minus:focus rect {
    fill: var(--basic-black);
}
.minus:active rect {
    fill: var(--basic-blue);
}
.add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    background-color: var(--basic-filling);
    border: none;
    fill: var(--icons-active);
}
.add:hover path,
.add:hover path {
    fill: var(--basic-black);
}
.add:active path {
    fill: var(--basic-blue)
}
.children {
    margin-left: 50px;
}
.search-2 {
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-blue);
    padding: 16px 180px;
    margin-top: 50px;
    width: 100%;
}

/*Filter*/
.filter-container {
    background-color: var(--basic-blue);
    background-image: url("../img/filter-back.jpg");
    color: var(--basic-white);
    line-height: 21px;
    margin: 0;
    padding: 0 73px;  
}
.filter-list {
    display: flex;
    width: 50%;
}
.filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 30px;
}
.filter fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 50%;
}
.filter legend {
    font-size: 16px;
    font-weight: 700;
    color: var(--basic-white);
}
.filter ul {
    list-style: none;
    line-height: 25px;
}
.filter-option {
    padding-left: 13px;
    margin-bottom: 25px;
}
.filter-option label {
    position: relative;
    display: block;
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -38px;
    width: 23px;
    height: 23px;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:disabled:checked + label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    fill: var(--checkbox);
}
.filter-button {
    position: absolute;
    left: 50%;
    margin-left: -69px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: transparent;
    padding: 7px 35px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
}
.filter-button:hover,
.filter-button:active {
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.filter-price {
    position: relative;
}
.range-filter {
    margin-top: 10px;
    width: 317px;
}
.range-controls {
    position: relative;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.range-controls .scale {
    height: 2px;
    background: var(--button-active);
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--basic-white);
}
.range-controls .toggle {
    position: absolute;
    top: 11px;
    left: 0;
    width: 3.8px;
    height: 3.8px;
    padding: 0;
    border: 7.5px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle);
}
.range-controls .toggle-min {
    left: 0px;
}
.range-controls .toggle-max {
    left: 215px;
}
.price-controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    padding: 7px 30px;
}
.price-controls input {
    width: 100px;
    border: none;
    background: transparent;
    color: var(--basic-white);
}

/*Catalogue*/
.catalogue-list {
    padding: 0;
    margin: 0;
}
.catalogue-item {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    padding: 0 73px;
    padding-bottom: 30px;
}
.catalogue-item .rate {
    background-color: var(--basic-filling);
    display: inline-block;
    padding: 3px 12px;
}
.catalogue-item h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}
.catalogue-item .more{
    color: var(--basic-white);
    background-color: var(--basic-blue);
}
.catalogue-item .more:hover,
.catalogue-item .more:focus {
    color: var(--basic-white);
    background-color: var(--basic-mid-blue);
}
.catalogue-item .more:active {
    color: var(--button-active);
    background-color: var(--basic-dark-blue);
}
.catalogue-item .book {
    background-color: var(--basic-brown);
}
.catalogue-item .book:hover,
.catalogue-item .book:focus {
    color: var(--basic-white);
    background-color: var(--basic-mid-brown);
}
.catalogue-item .book:active {
    color: var(--button-active);
    background-color: var(--basic-dark-brown);
}
.catalogue-item-image {
    padding-top: 30px;
    width: 135px;
}
.item-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0 30px;
}
.item-name {
    flex-basis: 100%;
    padding: 0px;
}
.item-name h3 {
    margin-bottom: 7px;
}
.item-name a {
    color: var(--basic-black);
}
.item-name a:hover,
.item-name a:focus {
    color: var(--basic-blue);
}
.item-name a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.item-description {
    padding: 0px;
    vertical-align: top;
    margin-right: 6px;
}
.item-description p {
    margin-top: 7px;
}
.rating {
    position: relative;
    width: 110px;
    padding: 0px;
}
.star {
    display: inline-block;
    width: 18px;
    height: 17px;
    margin-top: 30px;
    margin-right: 4px;
    background-image: url('../img/star.svg');
}
.rating-icons {
    position: absolute;
    right: 0;
}
.rate{
    position: absolute;
    bottom: 0;
    right: 0;
}
/*Sorting*/
.sorting {
    display: grid;
    grid-template-columns: min-content  1fr min-content;
    align-items: center;
    padding: 30px 73px;
    margin: 0;
}
.sort-found {
    font-size: 21px;
    font-weight: 700;
    width: 127px;
}
.sort-results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    padding: 0 46px;
}
.sort-results ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.sort-results li {
    padding: 0 15px;
}
.sort-results a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed var(--basic-blue);
}
.sort-results a:hover,
.sort-results a:focus {
    color:var(--basic-blue);
    opacity: 1;
}
.sort-results a:active {
    color: var(--basic-black);
    border-bottom: none;
}
.sort-results-current a{
    color: var(--basic-blue);
    opacity: 1;
    border-bottom: none;
}
.sort-arrows {
    display: flex;
}
.arrow-up {
    margin-right: 12px;
}
.arrow-up path {
    fill: var(--arrows);
}
.arrow-up:hover path,
.arrow-up:focus path {
    fill: var(--basic-black);
}
.arrow-up:active path {
    fill: var(--basic-blue);
}
.arrow-down path {
    fill: var(--basic-blue);
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}