/* Variables */
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-darkgrey: #333333;
    --basic-grey: #666666;
    --basic-lightgrey: #EEEEEE;
    --basic-filling: #f2f2f2;
    --basic-blue: #81B3D2;
    --basic-mid-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-brown: #766357;
    --basic-mid-brown: #604E43;
    --basic-dark-brown: #503E33; 
    --checkbox: #6a6a6a;
    --footer-back: rgba(255, 255, 255, 0.9);
    --button-active: rgba(255, 255, 255, 0.3);
    --icons-active: #a9a9a9;
    --input-hover: #ebebeb;
    --input-border: #e5e5e5e5;
    --toggle: #ababab;
    --arrows: #cacaca;
    --wrapper-shadow: rgba(0, 0, 0, 0.1);
}

/*Global*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-darkgrey);
    background-color: var(--basic-filling);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.btn {
    display:inline-block; 
    padding: 3px 17px;
    font: inherit;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}
.btn:focus {
    outline: none;
}
.page {
    height:100%;
}
.page-body {
    height: 100%;
}
.body-wrapper {
    position: relative;
    display: grid;
    margin: 0 auto;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--basic-white);
    width: 1200px;
    min-height: 100%;
    box-shadow: 0 0 10px var(--wrapper-shadow);
}

/*Main header*/
.main-header {
    position: relative;
}
.main-header-logo {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 138px;
    height: 70px;
}

/*Main navigation*/
.main-navigation {
    color: var(--basic-black);  
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 17px 73px;
    list-style: none;
}
.site-navigation a {
    color: var(--basic-black);
    font-weight: 700;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-blue);
}
.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.site-navigation li {
    width: 25%;
}
.text-left {
    text-align: left;   
}
.text-right {
    text-align: right;
}

/*Main footer*/
.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 100px;
    color: var(--basic-black);
    background-color: var(--footer-back);
    margin: 0px;
}
.index {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.footer-contacts {
    align-self: start;
    justify-content: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0px;
    margin-top: 23px;
    padding-left: 31px;
}
.hashtag {
    display: inline-block;
    margin-bottom: 9px;
}
.footer-contacts p {
    margin: 0px;
}
.footer-contacts a {
    color: var(--basic-black);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--basic-blue);
}
.footer-social {
    margin: 0px;
    padding-top: 36px;
    padding-bottom: 42px;
    padding-left: 5px;
}
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style:none;
}
.footer-copyright {
    align-self: start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    justify-self: end;
    margin-top: 38px;
}
.footer-copyright p {
    margin-top: 13px;
    margin-right: 9px;
}
.copyright-button {
    margin: 0px;
}
.copyright-button:hover path,
.copyright-button:focus path {
    fill: var(--basic-blue);
}
.copyright-button:active path {
    fill: var(--icons-active);
}

/*Social button*/
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color:var(--basic-blue);
    margin-right: 6px;
}
.social-button:hover,
.social-button:focus {
    background-color: var(--basic-mid-blue);
}
.social-button:active {
    background-color: var(--basic-dark-blue);
}
.social-button:active path {
    fill: var(--button-active);
}
/*Index features*/
.main-back {
    min-height: 510px;
    background-color: var(--basic-blue);
    background-image: url('../img/main-background-image.jpg');
}
.features-promo {
    text-align: center;
    margin: 0px;
    padding: 0 340px;
    padding-top: 22px;
    padding-bottom: 40px;
}
.features-promo h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 45px;
}
.features-main h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}
.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: var(--basic-darkgrey);
    text-align: center;
}
.features-item {
    margin: 0px;
    padding: 0px;
}
.features-item h3 {
    margin-top: 0px;
    margin-bottom: 26px;
    padding: 0 120px;
}
.grey {
    background-color: var(--basic-lightgrey);
    padding-top: 46px;
    padding-bottom: 41px;
}
.grey p {
    padding: 0 96px;
    margin-top: 23px;
}
.grey h3 {
    margin-top: 0px;
    margin-bottom: 27px;
}
.with-icons {
    position: relative;
    padding-top: 159px;
    padding-bottom: 68px;
}
.with-icons p { 
    padding: 0 73px;    
}
.icons::before {
    display: block;
    position: absolute;
    content: "";
    left: 50%;
    transform: translate(-50%);
    top: 61px;
    background-repeat: no-repeat;
}
.accomodation::before {
    width: 72px;
    height: 75px;
    background-image: url('../img/icon-1.svg');  
}
.food::before {
    width: 75px;
    height: 70px;
    background-image: url('../img/icon-3.svg');
}
.souveniers::before {
    width: 64px;
    height: 77px;
    background-image: url('../img/icon-2.svg');
}
.features-blue-row {
    display: flex;
    justify-content: start;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.features-image-right {
    background-image: url('../img/sedona-city.jpg');
    min-width: 800px;
}
.features-image-left {
    background-image: url('../img/devils-bridge.jpg');
    min-width: 800px;
}
.features-text {
    width: 400px;
    padding-top: 47px;
    padding-bottom: 53px;
}
.features-text h3 {
    margin-top: 0;
    margin-bottom: 26px;
    padding: 0 100px;
}
.features-text p {
    margin-top: 25px;
    margin-bottom: 0;
    padding: 0 50px;
}

/*Search*/
.main-map {
    min-height: 593px;
    background-image: url('../img/map.png');
}
.interested {
    padding-top: 36px;
}
.offer {
    text-align: center;
    padding: 0 370px;
    margin-bottom: 38px;
    line-height: 24px;
}
.offer h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 34px;
}
.search-form {
    position: relative;
    margin: 0 auto;
    padding: 0 316px;
}
.search-form .search-1 {
    font-size: 21px;
    line-height: 26px;
    background-color: var(--basic-brown);
    padding: 30px 139px;
}
.search-form .search-1:hover,
.search-form .search-1:focus {
    background-color: var(--basic-mid-brown);
}
.search-form .search-1:active {
    background-color: var(--basic-dark-brown);
    color:var(--button-active);
}
.search-error {
    animation: shake 0.6s;
}
.search {
    display: none;
}
.search-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    width: 458px;
    padding: 54px 55px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
    font-weight: 700;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    animation: mymove 0.6s;
}
.search-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 29px;
}
.search-item input {
    position: relative;
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-filling);
    border: 2px solid var(--basic-filling);
    box-sizing: border-box;
    padding: 6px 10px;
    height: 38px;
}
.search-item input:hover {
    background-color: var(--input-hover);
    border: 2px solid var(--input-hover);
}
.search-item input:active,
.search-item input:focus {
    background-color: var(--basic-white);
    outline: 2px solid var(--input-border);
}
.search-form .search-2:hover,
.search-form .search-2:focus {
    background-color: var(--basic-mid-blue);
}
.search-form .search-2:active {
    background-color: var(--basic-dark-blue);
    color:var(--button-active);
}
.calendar {
    position: absolute;
    top: 8px;
    right: 9px;
    padding: 0;
    background-color: transparent;
    fill: var(--icons-active);
}
.calendar:hover,
.calendar:focus {
    fill: var(--basic-black);
    outline: none;
}
.calendar:active {
    fill: var(--basic-blue);
}
.label {
    width: 112px;
}
.number {
    width: 40px;
    text-align: center;
}
.booking-date {
    flex-grow: 1;
}
.people {
    width: 50%;
}
.input-wrapper {
    display: flex;
}
.minus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    background-color: var(--basic-filling);
    border: none;
}
.minus:focus {
    outline: none;
}
.minus:hover rect,
.minus:focus rect {
    fill: var(--basic-black);
}
.minus:active rect {
    fill: var(--basic-blue);
}
.add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    background-color: var(--basic-filling);
    border: none;
    fill: var(--icons-active);
}
.add:focus {
    outline: none;
}
.add:hover path,
.add:focus path {
    fill: var(--basic-black);
}
.add:active path {
    fill: var(--basic-blue);
}
.children {
    margin-left: 50px;
}
.search-2 {
    font-size: 21px;
    line-height: 27px;
    background-color: var(--basic-blue);
    padding: 16px 180px;
    margin-top: 26px;
    width: 100%;
}

/*Filter*/
.filter-container {
    background-color: var(--basic-blue);
    background-image: url('../img/filter-back.jpg');
    color: var(--basic-white);
    line-height: 21px;
    margin: 0;
    padding: 0 73px;  
}
.filter-list {
    display: flex;
    width: 50%;
}
.filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 8px;
}
.filter fieldset {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 48%;
}
.filter legend {
    font-size: 16px;
    font-weight: 700;
    color: var(--basic-white);
}
.filter ul {
    list-style: none;
    line-height: 25px; 
}
.filter-infrastructure ul {
    margin-top: 23px;
    padding-left: 26px;
}
.filter-type ul {
    margin-top: 23px;
    padding-left: 30px;
}
.filter-option {
    padding-left: 13px;
    margin-bottom: 21px;
}
.filter-option label {
    position: relative;
    display: block;
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -41px;
    width: 23px;
    height: 23px;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter-input-checkbox:disabled:checked + label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    fill: var(--checkbox);
}
.filter-button {
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translate(-53%);
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 34px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
}
.filter-button:hover,
.filter-button:active,
.filter-button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
}
.filter-price {
    position: relative;
}
.range-filter {
    margin-top: 10px;
    width: 317px;
}
.range-controls {
    position: relative;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.range-controls .scale {
    height: 2px;
    background: var(--button-active);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}
.range-controls .toggle {
    position: absolute;
    top: 11px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 7.5px solid var(--basic-white);
    background-color: var(--toggle);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle);
}
.range-controls .toggle:hover {
    transform: scale(1.2);
}
.range-controls .toggle-min {
    left: 0px;
}
.range-controls .toggle-max {
    left: 253px;
}
.price-controls {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    text-align: center;
}
.price-controls input {
    width: 40px;
    border: none;
    background: transparent;
    color: var(--basic-white);
}
.price-controls input:focus {
    outline: none;
}
.min-price {
    width: 50%;
    padding: 6px 30px;
}
.max-price {
    width: 50%;
    padding: 6px 30px;
}
.min-price::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 50%;
    display: block;
    width: 2px;
    height: calc(100% - 10px);
    margin: 0 auto;
    background-color: var(--basic-white);
}

/*Catalogue*/
.catalogue-list {
    padding: 0px;
    margin: 0px;
}
.catalogue-item {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    padding: 0 73px;
    border-bottom: 1px solid var(--input-border);
}
.catalogue-item .rate {
    text-align: center;
    background-color: var(--basic-filling);
    display: inline-block;
    margin-top: 41px;
    margin-bottom: 0px;
    padding: 3px 12px;
}
.catalogue-item h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    margin: 0px;
}
.catalogue-item .more{
    color: var(--basic-white);
    background-color: var(--basic-blue);
    margin-top: 15px;
}
.catalogue-item .more:hover,
.catalogue-item .more:focus {
    color: var(--basic-white);
    background-color: var(--basic-mid-blue);
}
.catalogue-item .more:active {
    color: var(--button-active);
    background-color: var(--basic-dark-blue);
}
.catalogue-item .book {
    background-color: var(--basic-brown);
    margin-top: 15px;
}
.catalogue-item .book:hover,
.catalogue-item .book:focus {
    color: var(--basic-white);
    background-color: var(--basic-mid-brown);
}
.catalogue-item .book:active {
    color: var(--button-active);
    background-color: var(--basic-dark-brown);
}
.catalogue-item-image {
    width: 135px;
    padding-top: 30px;
    padding-bottom: 24px;
}
.item-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: start;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 29px;
}
.item-name {
    flex-basis: 100%;
    padding: 0px;
}
.item-name h3 {
    margin: 0px;
}
.item-name a {
    color: var(--basic-black);
}
.item-name a:hover,
.item-name a:focus {
    color: var(--basic-blue);
}
.item-name a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.item-description {
    padding: 0px;
    vertical-align: top;
    margin-right: 5px;
    margin-top: 10px;
}
.item-description p {
    margin: 0px;
}
.rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: start;
    width: 110px;
    padding-top: 25px;
    padding-bottom: 24px;
    margin: 0px;
}
.rating-icons {
    margin: 0px;
}
.star {
    display: inline-block;
    width: 18px;
    height: 17px;
    background-image: url('../img/star.svg');
    margin-right: 1px;
}


/*Sorting*/
.sorting {
    position: relative;
    display: grid;
    grid-template-columns: min-content  1fr min-content;
    align-items: center;
    padding: 0 73px;
    margin: 0;
    border-bottom: 1px solid var(--input-border);
}
.sort-found {
    align-self: start;
    font-size: 21px;
    font-weight: 700;
    width: 127px;
    padding-top: 32px;
    padding-bottom: 35px;
}
.sort-results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: start;
    font-size: 12px;
    padding: 0 36px;
    margin-top: 30px;
}
.sort-results ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding-left: 40px;
}
.sort-results li {
    margin-right: 33px;
}
.sort-results a {
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed var(--basic-blue);
}
.sort-results a:hover,
.sort-results a:focus {
    color:var(--basic-blue);
    opacity: 1;
}
.sort-results a:active {
    color: var(--basic-black);
    border-bottom: none;
}
.sort-results-current a{
    color: var(--basic-blue);
    opacity: 1;
    border-bottom: none;
}
.sort-arrows {
    display: flex;
    align-self: start;
    padding-top: 36px;
}
.arrow-up {
    margin-right: 12px;
}
.arrow-up path {
    fill: var(--arrows);
}
.arrow-up:hover path,
.arrow-up:focus path {
    fill: var(--basic-black);
}
.arrow-up:active path {
    fill: var(--basic-blue);
}
.arrow-down path {
    fill: var(--basic-blue);
}

/*Animations*/
@keyframes  mymove {
   from {top: 0px;}
   to {top: 100%;}
  }
  
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


/*Visually hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number {
  -moz-appearance: textfield;
}
